In [1]:
import attr
import os
import ujson
import bz2
import random

import pandas as pd

from glob import glob
from tqdm import tqdm
from multiprocessing import Pool
from itertools import islice
from functools import partial
from boltons.iterutils import pairwise
from collections import Counter
from scipy import stats
from sklearn.model_selection import train_test_split

from IPython.display import display, Markdown

In [2]:
def zip_offset(seq):
    """Yield (item, 0-1 offset).
    """
    size = len(seq)
    for i, item in enumerate(seq):
        offset = i / (size - 1) if (size - 1) else 0
        yield item, offset

In [3]:
def map_segment(func, path):
    """Parse JSON segment, apply worker function.
    """
    results = []
    
    with bz2.open(path) as fh:
        for line in fh:
            results.append(func(ujson.loads(line)))
            
    return results

In [4]:
@attr.s
class Corpus:
    
    root = attr.ib()
    
    def paths(self):
        return glob(os.path.join(self.root, '*.bz2'))
                        
    def map_novels(self, func, shuffle=True):
        """Apply a worker to segment files in parallel.
        """
        paths = self.paths()
        
        if shuffle:
            random.shuffle(paths)
        
        with Pool() as p:
            
            worker = partial(map_segment, func)
            
            for results in p.imap_unordered(worker, paths):
                yield from results

In [5]:
corpus = Corpus('../../data/chicago-bins-tokens.json/')

In [6]:
def _match_suffixes(root, group, o1, o2, novel, width=5):
    """Match suffix windows after a query token.
    """
    results = []
    
    for i, (t, offset) in enumerate(zip_offset(novel['tokens'])):
        if o1 < offset < o2 and t.lower() == root:
            
            suffix = novel['tokens'][i+1:i+1+width]
            
            results.append((novel['identifier'], group, root, suffix))
    
    return results

In [7]:
def match_suffixes(root, group, o1, o2, width=5, skim=None):
    
    worker = partial(_match_suffixes, root, group, o1, o2, width=width)

    results = corpus.map_novels(worker)
    results = tqdm(islice(results, skim))

    return [r for b in results for r in b]

In [8]:
a0 = match_suffixes('a', 0, 0, 0.05, skim=None)

6638it [03:41, 29.90it/s]

In [9]:
a1 = match_suffixes('a', 1, 0.95, 1, skim=None)

6638it [03:09, 35.08it/s]

In [10]:
the0 = match_suffixes('the', 0, 0, 0.05, skim=None)

6638it [03:25, 32.34it/s]

In [11]:
the1 = match_suffixes('the', 1, 0.95, 1, skim=None)

6638it [03:16, 33.86it/s]

In [12]:
rows = a0 + a1 + the0 + the1
df = pd.DataFrame(rows, columns=('chicago_id', 'group', 'root', 'suffix'))

In [13]:
df

        chicago_id  group root                                         suffix
0            23888      0    a                   [small, ,, slight, woman, ,]
1            23888      0    a      [gentle, yet, intense, liveliness, about]
2            23888      0    a                  [voice, that, sounded, ,, as]
3            23888      0    a                     [sphere, of, red, -, eyed]
4            23888      0    a                 [minute, ,, ", Ysaye, Barnett]
5            23888      0    a                     [push, ., The, gravity, ,]
6            23888      0    a                   [death, grip, on, the, rail]
7            23888      0    a               [planet, she, could, settle, on]
8            23888      0    a          [tiny, cubicle, like, her, shipboard]
9            23888      0    a        [cultural, anthropologist, ., Ysaye, ,]
10           23888      0    a                     [game, to, her, —, rather]
11           23888      0    a                    [grown, -, up, version, of]
12           23888      0    a              [twinkle, in, her, bright, brown]
13           23888      0    a             [reputation, as, a, scientist, to]
14           23888      0    a                [scientist, to, maintain, ., "]
15           23888      0    a                    [puzzle, ,, and, this, one]
16           23888      0    a                           [day, ., ", I, told]
17           23888      0    a     [phototropic, response, ,, Ysaye, thought]
18           23888      0    a            [diagram, on, the, console, screen]
19           23888      0    a                    [lot, of, material, for, a]
20           23888      0    a               [ballad, there, ,, ", Elizabeth]
21           23888      0    a                 [ballad, ,, ", Ysaye, pointed]
22           23888      0    a          [habit, of, relating, everything, to]
23           23888      0    a                      [limit, ,, at, least, as]
24           23888      0    a         [computer, glitch, to, the, abduction]
25           23888      0    a                  [family, ,, and, they, could]
26           23888      0    a                       [ship, —, not, if, they]
27           23888      0    a         [human, skeleton, ., Immature, bodies]
28           23888      0    a  [planet, suitable, for, either, colonization]
29           23888      0    a    [subjective, experience, ., Elizabeth, was]
...            ...    ...  ...                                            ...
5479213      24587      1  the               [loft, to, practice, the, piano]
5479214      24587      1  the                     [piano, ., About, a, half]
5479215      24587      1  the                  [stairs, ., “, Someone, here]
5479216      24587      1  the            [sound, of, footsteps, ., Streeter]
5479217      24587      1  the           [piano, keyboard, and, was, stunned]
5479218      24587      1  the                       [loft, ., She, had, her]
5479219      24587      1  the                        [top, of, her, head, .]
5479220      24587      1  the                     [piano, ., “, You, always]
5479221      24587      1  the               [green, sweatpants, and, tan, T]
5479222      24587      1  the                         [room, ., “, This, is]
5479223      24587      1  the                      [whole, works, ., ”, She]
5479224      24587      1  the                         [final, days, ., ”, “]
5479225      24587      1  the        [kitchen, and, started, putting, water]
5479226      24587      1  the                      [coffee, maker, ., “, It]
5479227      24587      1  the                   [best, friend, I, ever, had]
5479228      24587      1  the                        [coffee, ., “, I, said]
5479229      24587      1  the                          [ass, and, a, ‘, Get]
5479230      24587      1  the                  [sex, was, sensational, ., ”]
5479231      24587      1  the            [table, between, the, living, room]
5479232      24587      1  the              [living, room, and, the, kitchen]
5479233      24587      1  the                   [kitchen, and, sat, down, .]
5479234      24587      1  the                    [table, and, sat, next, to]
5479235      24587      1  the             [county, ., Then, nearly, getting]
5479236      24587      1  the                        [same, time, ., It, ’s]
5479237      24587      1  the                        [F, -, word, in, every]
5479238      24587      1  the           [best, reason, to, stay, together.’]
5479239      24587      1  the                       [way, we, left, it, and]
5479240      24587      1  the                       [end, of, the, night, ,]
5479241      24587      1  the                    [night, ,, we, could, slip]
5479242      24587      1  the                            [place, ., ”, “, I]

[5479243 rows x 4 columns]

In [14]:
df0 = df[df.group==0]

train0, test0 = train_test_split(df0)

train0.to_json('train0.json', orient='records', lines=True)
test0.to_json('test0.json', orient='records', lines=True)

In [15]:
df1 = df[df.group==1]

train1, test1 = train_test_split(df1)

train1.to_json('train1.json', orient='records', lines=True)
test1.to_json('test1.json', orient='records', lines=True)

In [16]:
len(df0)

2868549

In [17]:
len(df1)

2610694