In [141]:
import os
import ujson
import attr
import glob

import pandas as pd

from cached_property import cached_property
from itertools import islice
from tqdm import tqdm_notebook
from htrc_features.utils import download_file
from boltons.iterutils import chunked

In [119]:
class GenreNovel:
    
    @classmethod
    def from_path(cls, path):
        with open(path) as fh:
            return cls(ujson.load(fh))
        
    def __init__(self, data):
        self.data = data
    
    def __repr__(self):
        return 'GenreJSON<%s>' % self.htid
    
    @property
    def htid(self):
        return self.data['hathi_metadata']['htid']
    
    @cached_property
    def page_genres(self):
        
        pages = sorted(
            [k for k in self.data['page_genres'].keys()],
            key=lambda k: int(k)
        )
        
        return [
            self.data['page_genres'][page]
            for page in pages
        ]
    
    @cached_property
    def bi1(self):
        i = 0
        while self.page_genres[i] == 'front' and i < len(self.page_genres):
            i += 1
        return i
    
    @cached_property
    def bi2(self):
        i = len(self.page_genres) - 1
        while self.page_genres[i] == 'back' and i > 0:
            i -= 1
        return i
    
    def body_genres(self):
        return self.page_genres[self.bi1:self.bi2+1]
    
    def df_row(self):
        bg = self.body_genres()
        if len(set(bg)) == 1:
            return (self.htid, bg[0], self.bi1, self.bi2)

In [120]:
@attr.s
class GenreDir:
    
    root = attr.ib()
    
    def paths(self):
        pattern = os.path.join(self.root, '**/*.json')
        return glob.iglob(pattern)
    
    def novels(self):
        for path in self.paths():
            yield GenreNovel.from_path(path)
            
    def df_rows(self):
        for novel in tqdm_notebook(self.novels()):
            row = novel.df_row()
            if row: yield row

In [124]:
gd = GenreDir('../../data/htrc-genre/all')

In [ ]:
rows = list(gd.df_rows())

In [128]:
df = pd.DataFrame(rows, columns=('htid', 'genre', 'p1', 'p2'))

In [146]:
len(df[df.genre=='non'])

144337

In [147]:
len(df[df.genre=='fic'])

17002

In [152]:
with open('vols.json', 'w') as fh:
    print(df.to_json(orient='records', lines=True), file=fh)

In [ ]:
for htids in tqdm_notebook(chunked(list(df.htid), 1000)):
    download_file(htids, outdir='htrc')

In [150]:
download_file?

In [151]:
df.to_json?

In [153]:
df

                             htid genre  p1   p2
0                   chi.086332362   non   8  401
1                   chi.086333415   non  10   92
2                    chi.19292203   non   8   87
3                    chi.21126276   non   9  196
4                    chi.22373971   non   3   65
5                    chi.33683991   non  10   84
6                    chi.47677749   non   4   51
7                    chi.57124997   non  17  283
8                    chi.77478676   non   8  476
9              coo.31924018344220   non   8   26
10             coo.31924101443665   non   4   11
11      dul1.ark+=13960=t03x90642   non   6  186
12      dul1.ark+=13960=t0dv2cs6n   non   6   75
13      dul1.ark+=13960=t0dv2fm86   non   7   87
14      dul1.ark+=13960=t0gt6bf90   fic   9  312
15      dul1.ark+=13960=t0jt0m36q   non  11  628
16      dul1.ark+=13960=t0ms4mx49   fic   8  314
17      dul1.ark+=13960=t0sq9s40w   non   9  219
18      dul1.ark+=13960=t11n8rm04   non  10   63
19      dul1.ark+=13960=t11n90k6v   non  20  967
20      dul1.ark+=13960=t1bk28r6v   non   3  154
21      dul1.ark+=13960=t1dj65k1r   fic  10  284
22      dul1.ark+=13960=t1kh1g56t   fic  10  296
23      dul1.ark+=13960=t1vd7r46d   non   6   28
24      dul1.ark+=13960=t20c5sv0r   non   4  683
25      dul1.ark+=13960=t23b6xn6k   non  17  518
26      dul1.ark+=13960=t2f776x6x   bio  10  365
27      dul1.ark+=13960=t2j68cc6s   non  22  160
28      dul1.ark+=13960=t2w38p11p   non   8   40
29      dul1.ark+=13960=t3223rp80   non   8  139
...                           ...   ...  ..  ...
187468        yale.39002089540745   non   4   13
187469        yale.39002089540752   non   2   13
187470        yale.39002089540760   non   2    9
187471        yale.39002089540786   non   4   12
187472        yale.39002089541347   non   7   27
187473        yale.39002089541479   bio   2   10
187474        yale.39002089541537   non   8  443
187475        yale.39002089541750   non  13   93
187476        yale.39002089541826   non   3   50
187477        yale.39002089542014   non  13  598
187478        yale.39002089542220   non   7   69
187479        yale.39002089542253   non   0    9
187480        yale.39002089542287   non   6   22
187481        yale.39002089542386   non   2   10
187482        yale.39002089542402   non   2   13
187483        yale.39002089542410   non   7   33
187484        yale.39002089542428   non   0    2
187485        yale.39002089542436   non   2   33
187486        yale.39002089542543   non   4   21
187487        yale.39002089543251   non  12  433
187488        yale.39002089549571   non  16  264
187489        yale.39002089549688   bio   6  179
187490        yale.39002089549951   non   4   37
187491        yale.39002098610273   non  12  100
187492        yale.39002098610307   non   4   32
187493        yale.39002098610315   non   6   31
187494        yale.39002098610422   non   8   83
187495        yale.39002098610430   non   5   23
187496        yale.39002098610570   non  10  240
187497        yale.39002098631238   non   6   93

[187498 rows x 4 columns]